<div class="login-box">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" >
    <div class="user-box">
      <input type="email" name="email"   formControlName="email" required>
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" formControlName="password" required>
      <label>Password</label>
    </div>
    <button type="submit" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
</div>
